.banner {

    background-image: url(../../images/fond.jpg);
    color : white;
    padding : 150px 0px;
    background-size: cover;
    margin : 0px;
    background-position: center;
}


.banner h1 {
    color: #eef0f2;
    font-size: 75px;
    font-weight: bolder;
    opacity: 0.8;

}

.banner h2 {
    color: #eef0f2;
    font-size: 30px;
    font-weight: lighter;
    opacity: 0.8;
    margin-bottom: 15px;

}